/* CSS Document */

.content form { max-width: 450px; }
.page-user form .description { display: none; }
.meet-the-author .span_8 { display: block; width: 66%; overflow: hidden; }
.meet-the-author p:first-of-type { margin-top: 0; }
.meet-the-author .row { margin-bottom: 20px; }

[data-icon="chevron-r"]:after,
.icon-right-caret:after {
  font-size: 0.8em;
  margin-top: -4px;
}

.course-details-pagination .arrow-icon__inner { height: 80px; }

.taxonomy-description.content, .course-detail-container.row { margin-bottom: 30px; }
.taxonomy-description.content p { margin: 0 0 15px 0; }

p { margin: 0 0 20px 0; }
.section-header { line-height: 1.4em; }

.mission-callouts img { height: auto; }

.customSelectInner:after {
  content: "\e60f";
}

.global-footer .bottom-links .social-media { border-top: 0; border-bottom: 0; }

.courses-utility-nav .more-courses { background: #a51c30; color: white; padding: 11px 10px; border: 2px solid transparent; }
.courses-utility-nav .more-courses:hover { cursor:pointer; }
.filter-by.keywords { font-style:italic; }

.sidebar.search-column th.eligible { width: 60%; }
.sidebar.search-column th.cost { width: 40%; }

.course-brief a { color: #8c8179; }
.node-page .content { max-width: 800px; margin: 0 auto; }
.navigation-outer .menuTrigger__innerText { font-size: 17px; }
.global-footer .bottom-links .social-media .social-link { padding-left: 15px; padding-right: 15px; }

.course-details-pagination .arrow-icon__outer.expand-pagination .teaser-text-inner { width: 260px; }
.course-details-pagination .teaser-text--header { font-size: 11px; line-height: 1.25em; }

h1, .hero-title { margin-top: 0; }

.course-details-headerIntro .span_8 { width: 61%; margin-right: 5%; }

[data-bestmatch="true"] header:after {  background-size: 158px 64px; }

.share-widget ul { margin: 4px auto; padding: 0; }
.share-widget h3 { font-size: 11px; }

.hero-sub-title a { text-decoration: underline; }

.course-item-outer.col .embed-container { margin-top: 36px; }

.element-invisible { display: none; }

ul.pager { clear: both; list-style: none; background: #ddd; padding-left: 0; }
ul.pager li { display: inline-block; padding: 5px 20px; }

/*
 * page top about and faq links
 */
.pt-about, .pt-faq {
    color: #FFF;
    font-size: 13px;
    font-size: 0.92857rem;
    line-height: 18.2px;
    line-height: 1.3rem;
    position: absolute;
    right: 152px;
    top: 10px;
    z-index: 100;
}

.pt-about { right: 200px; }

@media only screen and (min-width: 240px) and (max-width: 640px) {
    .pt-about, .pt-faq {
        font-size: 16px;
        font-size: 1.14286rem;
        line-height: 22.4px;
        line-height: 1.6rem;
    }
}

.pt-about:hover, .pt-faq:hover {
    color: #f2f2f2;
}

/*
 * accordion on FAQ page
 */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: #ddd;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.accordion-panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.accordion-actions { float: right; margin-top: -30px; cursor: pointer; color: #a51c30; }

@media only screen and (min-width: 1025px) {
	.global-footer .bottom-links .social-media .social-link { width: auto; }
}


@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.course-details-headerIntro .span_8 { width: 50%; margin-right: 5%; }
  .course-details-headerIntro .span_4 { width: 45%; }
  .sidebar .featured-cta.row { display: none; }
	.global-footer .bottom-links .social-media .social-link.find-us-item .mobile-logo-link img.mobile-logo { width: 35px !important; }

	.course-item-outer.col .embed-container { margin-top: 0; }
}

@media only screen and (min-width: 240px) and (max-width: 640px) {
  .hero-sub-title {
    display: block;
    position: absolute;
    top: 68px;
    font-size: 12px;
  }
  
  .hero-sub-title + .hero-title {
  	margin-top: 70px; 
  }
  
  .hero-title { margin-top: 15px; }

  .global-header > .inner-wrapper ~ .hero-intro, .global-header > .inner-wrapper ~ .course-details-headerIntro {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .course-header-stats td, .course-header-stats th { padding: 0; }
  
  .inner-wrapper, .hero-intro, .course-details-headerIntro { padding: 0 20px; }
  
  .section-header { font-size: 22px; }
  
  .sidebar .featured-cta.row { display: none; }
    
  body, p { font-size: 14px; }
  
  .course-item-inner .course-image-wrapper { margin-bottom: 15px; }
  .share-widget ul li { margin-right: 2px; }
	
	.global-footer .bottom-links .social-media .social-link.find-us-item .mobile-logo-link img.mobile-logo { width: 35px !important; }
	.course-details-headerIntro .span_8 { width: 100%; margin-right: 0; }
	
	.navigation-inner .all-courses-button { margin-bottom: 4em; }
}