.inner-wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 6.25%;
}

#b1_portada_basadre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.b1_portada_basadre+.inner-wrapper {
    z-index: 12;
}

@media (min-width: 995px) {

    a.navbar-brand>img {
        width: 140px;
    }
}