button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

button {
    cursor: pointer
}

[type='submit'],
.button-clear {
    font-size: 15px;
    font-size: .9375rem;
    display: inline-block;
    padding: 0 12px;
    border: 0;
    border-radius: 5px;
    background-color: #8c1515;
    color: #fff;
    cursor: pointer;
    line-height: 2.13333;
    transition: 100ms ease-in-out background-color
}

[type='submit']:hover,
.button-clear:hover {
    background-color: #600e0e;
    text-decoration: none
}

/* ................................. SCREEN ................................... */

/* line 5, ../../src/styles/sass/2_Pieces/_buttons.scss */
[data-role="button"],
main form input[type="submit"],
.home-button,
.menuTrigger,
.course-item-inner .info-banner a,
.search-submit,
.search-terms .clear-all {
    background: #a51c30;
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 11px 10px;
    border: 2px solid transparent;
}

/* line 19, ../../src/styles/sass/2_Pieces/_buttons.scss */
[data-role="button"]:hover,
main form input[type="submit"]:hover,
.home-button:hover,
.menuTrigger:hover,
.course-item-inner .info-banner a:hover,
.search-submit:hover,
.search-terms .clear-all:hover,
[data-role="button"]:active,
main form input[type="submit"]:active,
.home-button:active,
.menuTrigger:active,
.course-item-inner .info-banner a:active,
.search-submit:active,
.search-terms .clear-all:active,
[data-role="button"]:focus,
main form input[type="submit"]:focus,
.home-button:focus,
.menuTrigger:focus,
.course-item-inner .info-banner a:focus,
.search-submit:focus,
.search-terms .clear-all:focus,
[data-role="button"]:visited,
main form input[type="submit"]:visited,
.home-button:visited,
.menuTrigger:visited,
.course-item-inner .info-banner a:visited,
.search-submit:visited,
.search-terms .clear-all:visited {
    color: white;
    text-decoration: none;
}

/* line 27, ../../src/styles/sass/2_Pieces/_buttons.scss */
[data-role="button"]:hover,
main form input[type="submit"]:hover,
.home-button:hover,
.menuTrigger:hover,
.course-item-inner .info-banner a:hover,
.search-submit:hover,
.search-terms .clear-all:hover {
    background: #8f182a;
}

/* line 31, ../../src/styles/sass/2_Pieces/_buttons.scss */
[data-role="button"]:active,
main form input[type="submit"]:active,
.home-button:active,
.menuTrigger:active,
.course-item-inner .info-banner a:active,
.search-submit:active,
.search-terms .clear-all:active,
[data-role="button"]:focus,
main form input[type="submit"]:focus,
.home-button:focus,
.menuTrigger:focus,
.course-item-inner .info-banner a:focus,
.search-submit:focus,
.search-terms .clear-all:focus {
    background: #791523;
}

/* line 37, ../../src/styles/sass/2_Pieces/_buttons.scss */
[data-role="button"]::-moz-focus-inner,
main form input[type="submit"]::-moz-focus-inner,
.home-button::-moz-focus-inner,
.menuTrigger::-moz-focus-inner,
.course-item-inner .info-banner a::-moz-focus-inner,
.search-submit::-moz-focus-inner,
.search-terms .clear-all::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* line 44, ../../src/styles/sass/2_Pieces/_buttons.scss */
[data-role="button"][data-buttonSize="small"],
main form input[data-buttonSize="small"][type="submit"],
[data-buttonSize="small"].home-button,
[data-buttonSize="small"].menuTrigger,
.course-item-inner .info-banner a[data-buttonSize="small"],
.span_3 .featured-cta>.span_4 [data-role="button"],
.span_3 .featured-cta>.span_4 main form input[type="submit"],
main form .span_3 .featured-cta>.span_4 input[type="submit"],
.span_3 .featured-cta>.span_4 .home-button,
.span_3 .featured-cta>.span_4 .menuTrigger,
.span_3 .featured-cta>.span_4 .course-item-inner .info-banner a,
.course-item-inner .info-banner .span_3 .featured-cta>.span_4 a,
.span_3 .featured-cta>.span_4 .search-submit,
.span_3 .featured-cta>.span_4 .search-terms .clear-all,
.search-terms .span_3 .featured-cta>.span_4 .clear-all,
[data-buttonSize="small"].search-submit,
.search-terms [data-buttonSize="small"].clear-all {
    height: 38px;
    padding: 8px 10px;
}

/* line 57, ../../src/styles/sass/3_Components/_featured-cta.scss */
.span_3 .featured-cta>.span_4 [data-role="button"],
.span_3 .featured-cta>.span_4 main form input[type="submit"],
main form .span_3 .featured-cta>.span_4 input[type="submit"],
.span_3 .featured-cta>.span_4 .home-button,
.span_3 .featured-cta>.span_4 .menuTrigger,
.span_3 .featured-cta>.span_4 .course-item-inner .info-banner a,
.course-item-inner .info-banner .span_3 .featured-cta>.span_4 a,
.span_3 .featured-cta>.span_4 .search-submit,
.span_3 .featured-cta>.span_4 .search-terms .clear-all,
.search-terms .span_3 .featured-cta>.span_4 .clear-all {
    margin-top: 0;
    margin-bottom: 0;
}

/* line 133, ../../src/styles/sass/3_Components/_featured-cta.scss */
.featured-cta .action [data-role="button"],
.featured-cta .action main form input[type="submit"],
main form .featured-cta .action input[type="submit"],
.featured-cta .action .home-button,
.featured-cta .action .menuTrigger,
.featured-cta .action .course-item-inner .info-banner a,
.course-item-inner .info-banner .featured-cta .action a,
.featured-cta .action .search-submit,
.featured-cta .action .search-terms .clear-all,
.search-terms .featured-cta .action .clear-all {
    width: 58.7642%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 14px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.5rem;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 133, ../../src/styles/sass/3_Components/_featured-cta.scss */
    .featured-cta .action [data-role="button"],
    .featured-cta .action main form input[type="submit"],
    main form .featured-cta .action input[type="submit"],
    .featured-cta .action .home-button,
    .featured-cta .action .menuTrigger,
    .featured-cta .action .course-item-inner .info-banner a,
    .course-item-inner .info-banner .featured-cta .action a,
    .featured-cta .action .search-submit,
    .featured-cta .action .search-terms .clear-all,
    .search-terms .featured-cta .action .clear-all {
        font-size: 16px;
        font-size: 1.14286rem;
        line-height: 24px;
        line-height: 1.71429rem;
    }
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 23, ../../src/styles/sass/3_Components/_global-navigation.scss */
    .navigation-inner .col:last-child [data-role="button"],
    .navigation-inner .col:last-child main form input[type="submit"],
    main form .navigation-inner .col:last-child input[type="submit"],
    .navigation-inner .col:last-child .home-button,
    .navigation-inner .col:last-child .menuTrigger,
    .navigation-inner .col:last-child .course-item-inner .info-banner a,
    .course-item-inner .info-banner .navigation-inner .col:last-child a,
    .navigation-inner .col:last-child .search-submit,
    .navigation-inner .col:last-child .search-terms .clear-all,
    .search-terms .navigation-inner .col:last-child .clear-all {
        display: block;
    }
}

.search-terms {
    background: #1e1e1e;
    z-index: 11;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* line 14, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms--inner {
    padding-right: 101px;
    position: relative;
}

/* line 20, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms .filter-by {
    font-size: 16px;
    font-size: 1.14286rem;
    line-height: 20px;
    line-height: 1.42857rem;
    color: white;
    display: block;
    line-height: 26px;
    height: 42px;
    font-weight: 200;
    padding: 8px 10px;
    margin-right: 20px;
    float: left;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 20, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
    .search-terms .filter-by {
        margin-bottom: 15px;
    }
}

/* line 42, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms .filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

/* line 50, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms .filter-list .search-term {
    border: 1px solid white;
    padding: 8px 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* line 60, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms .filter-list .search-term:hover {
    cursor: pointer;
    border: 1px solid #8B8179;
}

/* line 74, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms .filter-list .search-term .term {
    color: white;
    font-size: 14px;
    font-size: 1rem;
    line-height: 17.5px;
    line-height: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}

/* line 101, ../../src/styles/sass/3_Components/_inner-hero-filter.scss */
.search-terms .clear-all {
    position: absolute;
    right: 15px;
    top: 0;
    float: right;
    width: auto;
    margin-bottom: 10px;
    height: 42px;
    padding: 8px 10px;
}

/* line 80, ../../src/styles/sass/4_Regions/_homepage-spotlight.scss */
.spotlight-slider [data-role="button"],
.spotlight-slider main form input[type="submit"],
main form .spotlight-slider input[type="submit"],
.spotlight-slider .home-button,
.spotlight-slider .menuTrigger,
.spotlight-slider .course-item-inner .info-banner a,
.course-item-inner .info-banner .spotlight-slider a,
.spotlight-slider .search-submit,
.spotlight-slider .search-terms .clear-all,
.search-terms .spotlight-slider .clear-all {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    display: block;
}

/* line 125, ../../src/styles/sass/4_Regions/_idangerous.swiper--overrides.scss */
.swiper-container .swiper-slide [data-role="button"],
.swiper-container .swiper-slide main form input[type="submit"],
main form .swiper-container .swiper-slide input[type="submit"],
.swiper-container .swiper-slide .home-button,
.swiper-container .swiper-slide .menuTrigger,
.swiper-container .swiper-slide .course-item-inner .info-banner a,
.course-item-inner .info-banner .swiper-container .swiper-slide a,
.swiper-container .swiper-slide .search-submit,
.swiper-container .swiper-slide .search-terms .clear-all,
.search-terms .swiper-container .swiper-slide .clear-all {
    margin-bottom: 24px;
    font-size: 14px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.5rem;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 125, ../../src/styles/sass/4_Regions/_idangerous.swiper--overrides.scss */
    .swiper-container .swiper-slide [data-role="button"],
    .swiper-container .swiper-slide main form input[type="submit"],
    main form .swiper-container .swiper-slide input[type="submit"],
    .swiper-container .swiper-slide .home-button,
    .swiper-container .swiper-slide .menuTrigger,
    .swiper-container .swiper-slide .course-item-inner .info-banner a,
    .course-item-inner .info-banner .swiper-container .swiper-slide a,
    .swiper-container .swiper-slide .search-submit,
    .swiper-container .swiper-slide .search-terms .clear-all,
    .search-terms .swiper-container .swiper-slide .clear-all {
        font-size: 16px;
        font-size: 1.14286rem;
        line-height: 22.4px;
        line-height: 1.6rem;
    }
}

/* line 113, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar [data-role="button"],
.sidebar main form input[type="submit"],
main form .sidebar input[type="submit"],
.sidebar .home-button,
.sidebar .menuTrigger,
.sidebar .course-item-inner .info-banner a,
.course-item-inner .info-banner .sidebar a,
.sidebar .search-submit,
.sidebar .search-terms .clear-all,
.search-terms .sidebar .clear-all {
    margin-top: 24px;
    margin-top: 1.71429rem;
    margin-bottom: 36px;
    margin-bottom: 2.57143rem;
}

/* line 5, ../../src/styles/sass/1_Core/_layout.scss */
.outer-wrapper {
    position: relative;
    width: 100%;
}

.row {
    margin-bottom: 20px;
}

/* line 14, ../../src/styles/sass/1_Core/_layout.scss */
.inner-wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 6.25%;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

    /* line 14, ../../src/styles/sass/1_Core/_layout.scss */
    .inner-wrapper {
        padding: 0 3.41797%;
    }
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 14, ../../src/styles/sass/1_Core/_layout.scss */
    .inner-wrapper {
        padding: 0 15px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

    /* line 38, ../../src/styles/sass/1_Core/_layout.scss */
    main .inner-wrapper {
        padding: 0 3.41797%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

    /* line 48, ../../src/styles/sass/1_Core/_layout.scss */
    .home main .inner-wrapper,
    .front main .inner-wrapper {
        padding: 0 3.41797%;
    }
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 189, ../../src/styles/sass/0_Utility/_helper.scss */
.clearfix:before,
.inner-wrapper:before,
.row:before,
.category-link-list:before,
.clearfix:after,
.inner-wrapper:after,
.row:after,
.category-link-list:after {
    content: "";
    display: table;
}

/* line 195, ../../src/styles/sass/0_Utility/_helper.scss */
.clearfix:after,
.inner-wrapper:after,
.row:after,
.category-link-list:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 204, ../../src/styles/sass/0_Utility/_helper.scss */
.clearfix,
.inner-wrapper,
.row,
.category-link-list {
    *zoom: 1;
}

.taxonomy-description.content,
.course-detail-container.row {
    margin-bottom: 30px;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .course-details-headerIntro .span_8 {
        width: 50%;
        margin-right: 5%;
    }

    .course-details-headerIntro .span_4 {
        width: 45%;
    }

    .sidebar .featured-cta.row {
        display: none;
    }

    .global-footer .bottom-links .social-media .social-link.find-us-item .mobile-logo-link img.mobile-logo {
        width: 35px !important;
    }

    .course-item-outer.col .embed-container {
        margin-top: 0;
    }
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 8, ../../src/styles/sass/3_Components/_mission-callouts.scss */
    .mission-callouts .row {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* line 23, ../../src/styles/sass/3_Components/_hero-background-image.scss */
.hero-background-image+.inner-wrapper {
    z-index: 12;
}

@media screen and (max-width: 925px) {

    /* line 5, ../../src/styles/sass/4_Regions/_global-footer.scss */
    .global-footer {
        width: 100%;
    }

    /* line 16, ../../src/styles/sass/4_Regions/_global-footer.scss */
    .global-footer .inner-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 68, ../../src/styles/sass/4_Regions/_global-header.scss */
    .global-header>.inner-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    /* line 74, ../../src/styles/sass/4_Regions/_global-header.scss */
    .global-header>.inner-wrapper~.hero-intro,
    .global-header>.inner-wrapper~.course-details-headerIntro {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 640px) {
    .hero-sub-title {
        display: block;
        position: absolute;
        top: 68px;
        font-size: 12px;
    }

    .hero-sub-title+.hero-title {
        margin-top: 70px;
    }

    .hero-title {
        margin-top: 15px;
    }

    .global-header>.inner-wrapper~.hero-intro,
    .global-header>.inner-wrapper~.course-details-headerIntro {
        padding-left: 20px;
        padding-right: 20px;
    }

    .course-header-stats td,
    .course-header-stats th {
        padding: 0;
    }

    .inner-wrapper,
    .hero-intro,
    .course-details-headerIntro {
        padding: 0 20px;
    }

    .section-header {
        font-size: 22px;
    }

    .sidebar .featured-cta.row {
        display: none;
    }

    body,
    p {
        font-size: 14px;
    }

    .course-item-inner .course-image-wrapper {
        margin-bottom: 15px;
    }

    .share-widget ul li {
        margin-right: 2px;
    }

    .global-footer .bottom-links .social-media .social-link.find-us-item .mobile-logo-link img.mobile-logo {
        width: 35px !important;
    }

    .course-details-headerIntro .span_8 {
        width: 100%;
        margin-right: 0;
    }

    .navigation-inner .all-courses-button {
        margin-bottom: 4em;
    }
}

.filter-by.keywords {
    font-style: italic;
}

/* line 5, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon]:before,
.customSelectInner:after,
.filter-by input[type="checkbox"]~label:before,
.filter-by .accordion-title:before,
.filter-by .accordion-is-open .accordion-title:before,
.tooltip li.active .tooltip-subhead:before,
[data-icon]:after,
.filter-by input[type="checkbox"]~label:after,
.filter-by .accordion-title:after,
.filter-by .accordion-is-open .accordion-title:after,
[class^="icon-"]:before,
[class*=" icon-"]:after {
    font-family: 'icomoon';
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: inherit;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
}

/* line 24, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon]:before,
.customSelectInner:after,
.filter-by input[type="checkbox"]~label:before,
.filter-by .accordion-title:before,
.filter-by .accordion-is-open .accordion-title:before,
.tooltip li.active .tooltip-subhead:before,
[class^="icon-"]:before {
    margin-right: 5px;
}

/* line 28, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon]:after,
.filter-by input[type="checkbox"]~label:after,
.filter-by .accordion-title:after,
.filter-by .accordion-is-open .accordion-title:after,
[class*=" icon-"]:after {
    margin-left: 5px;
}

/* line 33, ../../src/styles/sass/2_Pieces/_icons.scss */
a[data-icon],
.filter-by a.accordion-title,
.filter-by .accordion-is-open a.accordion-title,
.tooltip li.active a.tooltip-subhead:before,
a[class^="icon-"],
a[class*=" icon-"] {
    text-decoration: none;
}

/* line 44, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon].ir,
.filter-by input[type="checkbox"]~label.ir,
.filter-by .ir.accordion-title,
.tooltip li.active .ir.tooltip-subhead:before,
[class^="icon-"].ir,
[class*=" icon-"].ir {
    text-indent: 0 !important;
    font-size: 0 !important;
}

/* line 48, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon].ir:before,
.ir.customSelectInner:after,
.filter-by input[type="checkbox"]~label.ir:before,
.filter-by .ir.accordion-title:before,
.tooltip li.active .ir.tooltip-subhead:before,
[data-icon].ir:after,
.filter-by input[type="checkbox"]~label.ir:after,
.filter-by .ir.accordion-title:after,
[class^="icon-"].ir:before,
[class^="icon-"].ir:after,
[class*=" icon-"].ir:before,
[class*=" icon-"].ir:after {
    display: block;
    width: 100%;
    text-align: center;
}

/* line 61, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon="filter-open"]:before,
.filter-by .accordion-is-open .accordion-title:before,
.icon-filter-open:before {
    content: "\e614";
}

/* line 67, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon="filter-closed"]:before,
.filter-by .accordion-title:before,
.icon-filter-closed:before {
    content: "\e615";
}

/* line 73, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon="checkbox-checked"]:before,
.filter-by input[type="checkbox"]:checked~label:before,
.icon-checkbox-checked:before {
    content: "\e616";
}

/* line 84, ../../src/styles/sass/2_Pieces/_icons.scss */
[data-icon="checkbox"]:before,
.filter-by input[type="checkbox"]~label:before,
.icon-checkbox:before {
    content: "\e618";
}

/* line 1, ../../src/styles/sass/3_Components/_search-filter.scss */
.filter-by input[type="checkbox"]~label {
    padding-left: 25px;
    display: block;
    position: relative;
}

/* line 10, ../../src/styles/sass/3_Components/_search-filter.scss */
.filter-by input[type="checkbox"]~label:before {
    position: absolute;
    left: 0;
    top: 5px;
}

/* line 31, ../../src/styles/sass/3_Components/_search-filter.scss */
.filter-by .accordion-title {
    margin-top: 0;
}

/* line 37, ../../src/styles/sass/3_Components/_search-filter.scss */
.filter-by .accordion-title:before {
    margin-right: 10px;
}

/* line 47, ../../src/styles/sass/3_Components/_search-filter.scss */
.filter-by .accordion-is-open .accordion-title:before {
    margin-right: 10px;
}

/* line 153, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .header.filter-by {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

/* line 233, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .title {
    border-bottom: 1px solid #e0e0e0;
    color: #1e1e1e;
    cursor: pointer;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.14286rem;
    line-height: 20px;
    line-height: 1.42857rem;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {

    /* line 233, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
    .sidebar.search-column .filter-by .title {
        padding-left: 0;
        margin-bottom: 0;
    }
}

/* line 253, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .title .icon-filter-open,
.sidebar.search-column .filter-by .title .icon-filter-closed {
    cursor: pointer;
    color: #a51c30;
    margin-right: 15px;
    vertical-align: text-top;
}

/* line 266, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field {
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}

/* line 271, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field .icon-checkbox {
    color: #8c8179;
    cursor: pointer;
    font-size: 13px;
    font-size: 0.92857rem;
    line-height: 16.25px;
    line-height: 1.16071rem;
    vertical-align: sub;
}

/* line 278, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field .icon-checkbox-checked {
    color: #a51c30;
    cursor: pointer;
    display: none;
    font-size: 13px;
    font-size: 0.92857rem;
    line-height: 16.25px;
    line-height: 1.16071rem;
    vertical-align: sub;
}

/* line 286, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field .label {
    font-size: 13px;
    font-size: 0.92857rem;
    line-height: 16.25px;
    line-height: 1.16071rem;
    cursor: pointer;
    color: #8c8179;
    font-size: 13px;
    padding-top: 5px;
}

.lte-ie8 .sidebar.search-column .filter-by .filter-field .label {
    padding-top: 0;
}

.lte-ie8 .sidebar.search-column .filter-by .filter-field .label:before {
    display: none;
}

/* line 294, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field input[type="checkbox"] {
    display: none;
}

.lte-ie8 .sidebar.search-column .filter-by .filter-field input[type="checkbox"] {
    display: inline-block;
    float: left;
    position: relative;
    top: 2px;
}


.lte-ie8 .sidebar.search-column .filter-by .filter-field {
    margin-bottom: 5px;
}

.lte-ie8 main form .filter-by .filter-field input[type="checkbox"] {
    width: auto;
    height: auto;
    border: none;
}

/* line 298, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field input[type="checkbox"]:checked+.label {
    color: #a51c30;
}

/* line 301, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field input[type="checkbox"]:checked+.label .icon-checkbox {
    display: none;
}

/* line 303, ../../src/styles/sass/4_Regions/_inner-sidebar.scss */
.sidebar.search-column .filter-by .filter-field input[type="checkbox"]:checked+.label .icon-checkbox-checked {
    display: inline-block;
}

/* line 3, ../../src/styles/sass/1_Core/_form-elements.scss */
main form label {
    color: #8c8179;
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
}

/* line 145, ../../src/styles/sass/3_Components/_tooltip.scss */
.tooltip.left:after,
.tooltip.left:before {
    left: 10px;
    margin: 0;
}

/* line 90, ../../src/styles/sass/3_Components/_touchcarousel-base.scss */
.touchcarousel .arrow-holder.left {
    left: 0;
}

/* line 93, ../../src/styles/sass/3_Components/_course-navigation-menu.scss */
.navigation-inner .about .button {
    margin-bottom: 10px;
    width: 77.27273%;
}

/* line 97, ../../src/styles/sass/3_Components/_course-navigation-menu.scss */
.navigation-inner .about .button.learn-more,
.navigation-inner .about .button.contact-us {
    background: transparent;
    border: 3px solid #a51c30;
    color: white;
}

/* line 103, ../../src/styles/sass/3_Components/_course-navigation-menu.scss */
.navigation-inner .about .button.learn-more:hover,
.navigation-inner .about .button.contact-us:hover {
    border-color: white;
}

/* line 108, ../../src/styles/sass/3_Components/_course-navigation-menu.scss */
.navigation-inner .about .button.donate {
    height: 40px;
}

/* line 135, ../../src/styles/sass/4_Regions/_global-footer.scss */
.global-footer .top .about .button {
    margin-bottom: 10px;
    width: 77.27273%;
}

@media only screen and (max-width: 1024px) {

    /* line 135, ../../src/styles/sass/4_Regions/_global-footer.scss */
    .global-footer .top .about .button {
        width: 100%;
        margin: 0 auto 10px;
    }
}

/* line 144, ../../src/styles/sass/4_Regions/_global-footer.scss */
.global-footer .top .about .button.learn-more,
.global-footer .top .about .button.contact-us {
    background: transparent;
    border: 3px solid #a51c30;
    color: white;
}

/* line 150, ../../src/styles/sass/4_Regions/_global-footer.scss */
.global-footer .top .about .button.learn-more:hover,
.global-footer .top .about .button.contact-us:hover {
    border-color: white;
}