/* line 6, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    margin-top: 24px;
    margin-top: 1.71429rem;
    margin-bottom: 24px;
    margin-bottom: 1.71429rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
}

/* line 16, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav .back-to-top,
.courses-utility-nav .more-courses {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
}

/* line 23, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav .back-to-top+.more-courses {
    margin-left: 24px;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 23, ../../src/styles/sass/3_Components/_back-to-top.scss */
    .courses-utility-nav .back-to-top+.more-courses {
        margin-left: 0;
    }
}

/* line 31, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav .more-courses+.back-to-top {
    margin-left: 24px;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 31, ../../src/styles/sass/3_Components/_back-to-top.scss */
    .courses-utility-nav .more-courses+.back-to-top {
        margin-left: 0;
    }
}

/* line 40, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav .back-to-top {
    border: 2px solid #8c8179;
    background: white;
    color: #8c8179;
    margin: 0;
    width: 21.875%;
}

/* line 54, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav .back-to-top .icon-up-arrow {
    padding: 0 5px 0 0;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 40, ../../src/styles/sass/3_Components/_back-to-top.scss */
    .courses-utility-nav .back-to-top {
        width: 100%;
        float: none;
        margin-bottom: 24px;
    }
}

/* line 67, ../../src/styles/sass/3_Components/_back-to-top.scss */
.courses-utility-nav .more-courses {
    width: 21.875%;
}

@media only screen and (min-width: 240px) and (max-width: 640px) {

    /* line 67, ../../src/styles/sass/3_Components/_back-to-top.scss */
    .courses-utility-nav .more-courses {
        width: 100%;
        float: none;
        margin-bottom: 24px;
    }
}

/* line 77, ../../src/styles/sass/3_Components/_stickyFooter.scss */
.flexboxtweener .sticky-footer-helper,
.flexboxtweener>body .sticky-footer-helper,
.no-flexbox .sticky-footer-helper,
.no-flexbox>body .sticky-footer-helper {
    display: block;
}


/* --------------------------------- FOOTER ------------------------------------ */


.region-content {
    margin: 0;
    padding: 0;
}



.hl__library-info {
    background-color: #f2f2f2
}

.hl__library-info__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1450px
}

@media (min-width:781px) {
    .hl__library-info__container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 345px;
        grid-template-columns: 1fr 345px;
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto
    }
}

@media (min-width:1171px) {
    .hl__library-info__container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 345px;
        grid-template-columns: 1fr 1fr 345px;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto
    }
}

.hl__library-info .hl__comp-heading {
    font-size: 16px
}

@media (min-width:781px) {
    .hl__library-info .hl__comp-heading {
        font-size: 20px
    }
}

.hl__library-info__hours {
    border-bottom: 1px solid silver;
    padding-bottom: 30px
}

@media (min-width:781px) {
    .hl__library-info__hours {
        margin-right: 55px;
        padding-left: 0;
        padding-right: 1px;
        padding-top: 0;
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2
    }
}

@media (min-width:1171px) {
    .hl__library-info__hours {
        border-bottom: 0
    }
}

@media (min-width:1171px) {
    .hl__library-info__hours:after {
        background-color: silver;
        content: "";
        height: 90%;
        position: absolute;
        top: 35px;
        right: 0;
        width: 1px
    }
}

.hl__library-info__features {
    border-bottom: 1px solid silver;
    padding-bottom: 30px;
    padding-top: 34px
}

@media (min-width:781px) {
    .hl__library-info__features {
        border-bottom: 0;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        margin-right: 55px;
        padding-bottom: 0;
        padding-top: 50px
    }
}

@media (min-width:1171px) {
    .hl__library-info__features {
        border-bottom: 0;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        margin-right: 55px;
        padding-bottom: 0;
        padding-top: 50px
    }
}

.hl__library-info__features .hl__illustrated-list__see-more {
    text-align: left
}

@media (min-width:781px) {
    .hl__library-info__sidebar {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / span 2;
        padding-left: 55px;
        position: relative
    }
}

@media (min-width:1171px) {
    .hl__library-info__sidebar {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        padding-left: 55px;
        position: relative
    }
}

@media (min-width:781px) {
    .hl__library-info__sidebar:after {
        background-color: silver;
        content: "";
        height: calc(100% - 35px);
        position: absolute;
        left: 0;
        top: 35px;
        width: 1px
    }
}

@media (min-width:1171px) {
    .hl__library-info__sidebar:after {
        height: calc(100% - 70px)
    }
}

@media (min-width:1171px) {
    .hl__library-info--description .hl__library-info__sidebar {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / span 2
    }
}

@media (min-width:1171px) {
    .hl__library-info--description .hl__library-info__sidebar:after {
        height: calc(100% - 70px)
    }
}

.hl__library-info__address {
    padding-bottom: 40px;
    padding-top: 44px
}

@media (min-width:781px) {
    .hl__library-info__address {
        padding-bottom: 28px;
        padding-top: 50px
    }
}

.hl__library-info__contact {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #6c6c6c), color-stop(20%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    padding-bottom: 50px;
    padding-top: 44px
}

@media (min-width:781px) {
    .hl__library-info__contact {
        padding-bottom: 36px;
        padding-top: 30px
    }
}

.hl__library-info__contact-buttons {
    margin-top: 18px
}

.hl__library-info__connect {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #6c6c6c), color-stop(20%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom: 1px solid silver;
    padding-bottom: 40px;
    padding-top: 39px
}

@media (min-width:781px) {
    .hl__library-info__connect {
        border-bottom: 0;
        padding-bottom: 28px;
        padding-top: 28px
    }
}

.hl__library-info__description {
    padding-bottom: 40px;
    padding-top: 42px
}

@media (min-width:781px) {
    .hl__library-info__description {
        border-top: 1px solid silver;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
        margin-right: 55px;
        margin-top: 47px
    }
}

@media (min-width:1171px) {
    .hl__library-info__description {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3
    }
}

.hl__library-info__description .hl__rich-text li {
    margin-bottom: .5em
}

.hl__library-hours__today {
    display: inline-block;
    font-family: "Trueno", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
    text-transform: uppercase;
    width: 100%
}

@media (min-width:481px) {
    .hl__library-hours__today {
        font-size: 20px
    }
}

.hl__library-hours__today-ribbon {
    border: 22px solid #f8c21c;
    border-bottom: 15px solid transparent;
    border-top: 0 solid;
    float: left;
    height: 110px;
    position: relative;
    text-overflow: clip;
    width: 44px
}

.hl__library-hours__today-ribbon svg {
    height: 31px;
    position: absolute;
    left: -15px;
    top: 49px;
    width: 31px
}

.hl__library-hours__today-ribbon svg path {
    fill: #1e1e1e
}

.hl__library-hours__today-info {
    color: #1e1e1e;
    padding: 48px 0 0 60px
}

.hl__library-hours__see-all {
    margin-top: 10px
}

.hl__library-hours__see-all>span {
    color: #6c6c6c;
    display: block;
    font-family: "Trueno", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.57
}

.hl__tabular-list {
    font-family: "Trueno", sans-serif;
    text-align: left
}

.hl__tabular-list table {
    border-collapse: collapse;
    table-layout: auto
}

@media (max-width:620px) {
    .hl__tabular-list table {
        display: block
    }
}

.hl__tabular-list th {
    color: #1e1e1e;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 6px 15px 4px 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top
}

@media (max-width:620px) {
    .hl__tabular-list th {
        display: block;
        padding: 0
    }
}

@media (min-width:621px) {
    .hl__tabular-list th {
        padding-right: 25px
    }
}

.hl__tabular-list td.hl__rich-text {
    color: #6c6c6c;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 0;
    vertical-align: top
}

@media (max-width:620px) {
    .hl__tabular-list td.hl__rich-text {
        display: block;
        padding-bottom: 20px;
        padding-top: 0
    }
}

.hl__library-snippet__details .hl__tabular-list th {
    font-size: 13px
}

.hl__library-snippet__details .hl__tabular-list td.hl__rich-text {
    font-size: 14px;
    padding-bottom: 10px
}

.hl__link-tag {
    border-bottom: 3px solid transparent;
    color: #0579b8;
    font-family: "Trueno", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);
    transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96)
}

.hl__link-tag:focus,
.hl__link-tag:hover {
    border-bottom-color: rgba(5, 121, 184, 0.3)
}

.hl__link-tag__toggle-text {
    display: none
}

.hl__link-tag[aria-expanded=true] .hl__link-tag__toggle-text {
    display: inline
}

.hl__link-tag[aria-expanded=true] .hl__link-tag__toggle-text~span {
    display: none
}

.hl__link-tag--with-arrow {
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase
}

.hl__link-tag--with-arrow>span {
    padding-right: 1em
}

.hl__link-tag--with-arrow::after {
    border-bottom: 0.425em solid transparent;
    border-left: 0.5em solid currentColor;
    border-top: 0.425em solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    line-height: 0;
    margin-left: -0.7em;
    opacity: 0.6;
    width: 0
}

.hl__link-tag--with-arrow[aria-expanded]:after {
    border: none;
    border-left: 0.425em solid transparent;
    border-right: 0.425em solid transparent;
    border-top: 0.5em solid currentColor;
    margin-top: 0.5em;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: -webkit-transform 0.7s ease;
    transition: -webkit-transform 0.7s ease;
    transition: transform 0.7s ease;
    transition: transform 0.7s ease, -webkit-transform 0.7s ease
}

.hl__link-tag--with-arrow[aria-expanded=true]:after {
    -webkit-transform: scaleY(-1) translateY(2px);
    transform: scaleY(-1) translateY(2px)
}

.hl__registration-cta__calendar .hl__link-tag {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6
}

.hl__featured-libraries__more-link .hl__link-tag {
    display: inline-block;
    line-height: 1.4
}

.hl__home-heading__helper-text .hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
    border-bottom: 1px solid currentColor;
    color: #fff
}

.hl__spaces-detail__booking .hl__link-tag {
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px
}

.hl__labeled-list__item .hl__link-tag {
    font-family: "Trueno", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.86px;
    text-transform: uppercase
}

.hl__footer-nav__item .hl__link-tag {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 1.87px
}

.hl__footer-nav__item .hl__link-tag:focus,
.hl__footer-nav__item .hl__link-tag:hover {
    border-bottom-color: rgba(255, 255, 255, 0.3)
}

.hl__contact-info__section .hl__link-tag {
    font-family: "Trueno", sans-serif;
    font-size: 15px;
    font-weight: 500;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word
}

.hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    color: #0579b8;
    font-family: "Trueno", sans-serif;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);
    transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96)
}

.hl__rich-text a:not(.hl__button):not(.hl__link-tag):focus,
.hl__rich-text a:not(.hl__button):not(.hl__link-tag):hover {
    border-bottom: 3px solid rgba(5, 121, 184, 0.3)
}

.hl__rich-text h4,
.hl__rich-text h5,
.hl__rich-text h6 {
    color: #1e1e1e;
    font-family: "Trueno", sans-serif;
    font-weight: 700;
    margin-bottom: 0.4em
}

.hl__rich-text h2:not(.hl__comp-heading) {
    color: #1e1e1e;
    font-family: "Trueno", sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 1.35714;
    margin-bottom: 0.4em;
    text-transform: uppercase
}

@media (min-width:621px) {
    .hl__rich-text h2:not(.hl__comp-heading) {
        font-size: 32px;
        line-height: 1.3125
    }
}

.hl__rich-text--small h2:not(.hl__comp-heading) {
    font-size: 1.32em
}

.hl__rich-text h3 {
    color: #1e1e1e;
    font-family: "Trueno", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-bottom: 0.4em;
    text-transform: uppercase
}

.hl__rich-text .hl__link-tag {
    font-weight: 600
}

.hl__search-result-item__link .hl__link-tag {
    display: inline;
    font-size: 15px;
    padding-right: 1.2em
}

.hl__search-result-item__link .hl__link-tag::after {
    background: transparent url(/themes/custom/harvard/assets/images/svg-icons/search-external.svg) center left no-repeat;
    content: "\00a0";
    margin-left: 0.4em;
    margin-right: -1.2em;
    padding: 0 0.5em
}

.hl__footer__quick-links .hl__link-tag {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px
}

.hl__footer__quick-links .hl__link-tag:focus,
.hl__footer__quick-links .hl__link-tag:hover {
    border-color: rgba(255, 255, 255, 0.7)
}

@media (min-width:621px) {
    .hl__footer__social+.hl__footer__quick-links {
        padding-left: 34px;
        position: relative
    }

    .hl__footer__social+.hl__footer__quick-links::before {
        border-left: 1px solid #414141;
        content: "";
        display: block;
        height: calc(100% + 20px);
        position: absolute;
        left: 0;
        top: -10px
    }
}

.hl__footer__message .hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
    border: 0;
    color: #fff;
    font-weight: 400;
    text-decoration: underline
}

.hl__site-alert-banner__message .hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
    border: 0;
    color: #1e1e1e;
    text-decoration: underline
}

.hl__linked-list__item .hl__link-tag--with-arrow {
    font-size: 17px;
    letter-spacing: inherit;
    text-transform: none
}

.hl__breadcrumb__item .hl__link-tag {
    font-family: "Trueno", sans-serif;
    font-size: 15px;
    font-weight: 400
}

.hl__breadcrumb--light .hl__breadcrumb__item .hl__link-tag {
    color: #fff;
    font-weight: 200
}

.hl__breadcrumb--light .hl__breadcrumb__item .hl__link-tag:hover {
    border-bottom-color: rgba(255, 255, 255, 0.7)
}

.hl__screen-overlay__summary .hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
    color: currentColor
}

.hl__screen-overlay__summary .hl__rich-text a:not(.hl__button):not(.hl__link-tag):focus,
.hl__screen-overlay__summary .hl__rich-text a:not(.hl__button):not(.hl__link-tag):hover {
    border-color: rgba(30, 30, 30, 0.7)
}

.hl__screen-overlay--dark .hl__screen-overlay__summary .hl__rich-text {
    color: #fff
}

.hl__screen-overlay--dark .hl__screen-overlay__summary .hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
    color: currentColor
}

.hl__screen-overlay--dark .hl__screen-overlay__summary .hl__rich-text a:not(.hl__button):not(.hl__link-tag):focus,
.hl__screen-overlay--dark .hl__screen-overlay__summary .hl__rich-text a:not(.hl__button):not(.hl__link-tag):hover {
    border-color: rgba(255, 255, 255, 0.7)
}

.hl__illustrated-list .js-accordion:before {
    content: "true";
    display: none
}

.hl__illustrated-list__accordion {
    display: none
}

.hl__illustrated-list__featured-items,
.hl__illustrated-list__all-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -40px;
    max-width: 800px
}

@media (min-width:971px) {

    .hl__illustrated-list__featured-items,
    .hl__illustrated-list__all-items {
        max-width: 1000px
    }
}

.hl__illustrated-list__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 280px;
    flex-basis: 280px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 25px;
    margin-left: 40px
}

@media (min-width:971px) {
    .hl__illustrated-list__list-item {
        -ms-flex-preferred-size: 320px;
        flex-basis: 320px
    }
}

.hl__illustrated-list__list-item>span {
    color: #1e1e1e;
    font-family: "Trueno", sans-serif;
    line-height: 1.6
}

.hl__illustrated-list--small .hl__illustrated-list__list-item {
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px
}

.hl__illustrated-list--small .hl__illustrated-list__list-item>span {
    -ms-flex-item-align: inherit;
    -ms-grid-row-align: inherit;
    align-self: inherit;
    font-size: 14px;
    line-height: 1.5
}

.hl__illustrated-list__image-wrapper {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: inline-block;
    font-size: 0;
    margin-right: 10px;
    text-align: center;
    width: 54px
}

.hl__illustrated-list__image-wrapper>img {
    display: inline-block;
    max-height: 54px;
    max-width: 54px;
    opacity: 0.5;
    vertical-align: middle
}

.hl__illustrated-list__image-wrapper:before {
    content: "";
    display: table;
    margin-left: -1px;
    width: 1px
}

.hl__illustrated-list--small .hl__illustrated-list__image-wrapper {
    width: 25px
}

.hl__illustrated-list--small .hl__illustrated-list__image-wrapper>img {
    max-height: 25px;
    max-width: 25px;
    margin-top: -3px
}

.hl__illustrated-list--show-2 .hl__illustrated-list__all-items .hl__illustrated-list__list-item:nth-child(-n+2) {
    display: none
}

.hl__illustrated-list--show-4 .hl__illustrated-list__all-items .hl__illustrated-list__list-item:nth-child(-n+4) {
    display: none
}

.hl__illustrated-list--show-6 .hl__illustrated-list__all-items .hl__illustrated-list__list-item:nth-child(-n+6) {
    display: none
}

.hl__illustrated-list__see-more {
    max-width: 1000px;
    text-align: right
}

.hl__library-snippet .hl__illustrated-list .hl__comp-heading,
.hl__library-snippet__hours-title {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.14px;
    margin-bottom: 10px
}

.hl__bubble-figure .hl__image {
    border-radius: 50%;
    display: block;
    margin: 0 auto 25px
}

.hl__image {
    height: auto;
    max-width: 100%
}

.hl__staff-card .hl__contact-info {
    margin-top: 15px
}

.hl__contact-info>.hl__comp-heading {
    margin-bottom: 10px
}

.hl__contact-info__department {
    color: #1e1e1e;
    font-family: "Trueno", sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px
}

.hl__contact-info__help-button {
    margin-bottom: 25px
}

.hl__contact-info>.hl__comp-heading~.hl__contact-info__help-button {
    margin-top: 20px
}

.hl__contact-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -20px -51px;
    overflow: hidden;
    width: calc(100% + 40px)
}

.hl__contact-info__section {
    -ms-flex-preferred-size: 260px;
    flex-basis: 260px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0 20px;
    padding-bottom: 51px
}

.hl__contact-info__section:nth-child(2) {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #6c6c6c), color-stop(20%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, color-stop(40%, #6c6c6c), color-stop(20%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(90deg, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    margin-top: -26px;
    padding-top: 25px
}



.hl__contact-info__items {
    margin: 0;
    padding: 0
}

.hl__contact-info__item {
    list-style: none;
    padding-left: 28px;
    position: relative
}

.hl__contact-info__icon {
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px
}

.hl__contact-info__icon svg {
    fill: silver;
    height: 100%;
    width: 100%
}

.hl__contact-info__label {
    color: #1e1e1e;
    font-family: "Trueno", sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.64;
    text-transform: uppercase
}

.hl__contact-info__phone {
    color: #6c6c6c;
    font-family: "Trueno", sans-serif;
    font-size: 15px;
    text-decoration: none
}

.hl__contact-info__address {
    color: #6c6c6c;
    font-family: "Trueno", sans-serif;
    font-size: 15px;
    line-height: 1.6
}

.hl__contact-info__address:not(:first-child) {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #6c6c6c), color-stop(20%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, color-stop(40%, #6c6c6c), color-stop(20%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(90deg, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    margin-top: 25px;
    padding-top: 25px
}

.hl__contact-info__directions {
    margin-top: 15px;
    padding-left: 28px;
    position: relative
}

.hl__contact-info__directions .hl__contact-info__icon {
    height: 17px
}

.hl__contact-info__website {
    padding-left: 28px;
    position: relative
}

.hl__contact-list--background .hl__contact-info__department {
    color: #1e1e1e
}

@media (min-width:621px) {
    .hl__search-directory__right-snippet .hl__staff-card .hl__contact-info {
        padding-right: 180px
    }
}