@charset "utf-8";
/* CSS Document */

/* By Creative Verse */

/* RESET */

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
}

a img {
    border: 0;
}

#clear {
    clear: both;
}

.site-branding {
    display: none;
}

/* DEMO PAGE STYLE */
#container {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

/* MENU STYLE */

a {
    /* Gives Nice And Fast Transition Effect Typically For Flat Designs */
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav {
    margin: 20px auto 0 auto;
    max-width: 920px;
}

nav a {
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px 50px 23px 25px;
    display: block;
    background: #1abc9c;
}

nav a:hover {
    background: #16a085;
}

nav ul {
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul ul {
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    color: #fff;
    min-width: 100px;
}

nav ul ul li a:hover {
    background: #4b545f;
    padding: 23px 50px 23px 25px;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 150px;
}


/* ----- DROPDOWN ANIMATION MENU TRANSITIONS - POR. JHON ALVARADO ACHATA  ------ */ 

.sub-menu-parent {
    position: relative;
}

.sub-menu {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
body {
    padding: 2%;
    font: 18px/1.4 sans-serif;
}

nav a {
    color: #E00;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav a:hover {
    color: #F55;
}

nav ul,
nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul {
    background: #EEE;
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    border-left: solid 1px #aaa;
}

nav>ul>li:first-child {
    border-left: none;
}

.sub-menu {
    background: #DDD;
}