<!DOCTYPE html>

<html lang="es" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  
          dc: http://purl.org/dc/terms/  
          foaf: http://xmlns.com/foaf/0.1/  
          og: http://ogp.me/ns#  
          rdfs: http://www.w3.org/2000/01/rdf-schema#  
          schema: http://schema.org/  
          sioc: http://rdfs.org/sioc/ns#  
          sioct: http://rdfs.org/sioc/types#  
          skos: http://www.w3.org/2004/02/skos/core#  
          xsd: http://www.w3.org/2001/XMLSchema# ">



<head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <meta name="title" content="Perfil usuario">
    <link rel="shortlink" href="https://library.esis.unjbg.edu/">
    <meta property="og:site_name" content="ESIS UNJBG Library">
    <meta itemprop="itemprop:name" content="library.esis.unjbg">
    <link rel="canonical" href="https://library.esis.unjbg.edu/">
    <meta property="og:type" content="home_page">
    <meta property="og:title" content="library.esis.unjbg">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="image/ico/unjbg.ico" type="image/vnd.microsoft.icon">


    <title>UNJBG ESIS | myPerfil</title>


    <link href="./css/bootstrap-4.0.0.min.css" rel="stylesheet">
    <link href="./css/extras.css" rel="stylesheet">
    <script src="./js/bootstrap-4.0.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


    <link rel="stylesheet" href="./css/boot">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/prof.js"></script>
</head>

<body style="background-color: #ECF0F1">

    <nav style="margin-bottom: 0px; background-color: #215898; text-align: center;height: 55px;">
        <!-- El logotipo y el icono que despliega el menú se agrupan
                                 para mostrarlos mejor en los dispositivos móviles -->

        <a class="navbar-brand" href="http://www.unjbg.edu.pe/portal/" title="Universidad Nacional Jorge Basadre Grohmann"
            style="padding-top: 8px; margin-right: 0px; width: 100px;height: 90px;">
            <img src="image/logo_unjbg.svg" type="image/svg+xml" style="width: 70%; margin-left: 10px;margin-bottom: 5px; ">
        </a>


    </nav>

    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1 style="margin-top: 14px;">User name</h1>
            </div>
            <div class="col-sm-2" style="top: 10px;">
                <a style="float: right;">
                    <object data="image/logo_principal_esis.svg" type="image/svg+xml" style="width: 0%;"></object>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->


                <div class="text-center">
                    <img src="./image/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <h6 style="margin-top: 8px; font-size: 12px">Sube una foto diferente...</h6>
                    <input type="file" class="text-center center-block file-upload" style="font-size: 11px;">
                </div>
                </hr><br>



                <div class="panel-heading">Actividad de accesos<i class="fa fa-link fa-1x"></i></div>


                <ul class="list-group">
                    <li class="list-group-item text-right"><span style="float: left;"><strong>Primer acceso al sitio</strong></span></li>
                    <li class="list-group-item text-right"><span style="float: right;"> Jueves, 13 de septiembre de
                            2018, 01:59 (72 días 1 hora)</span></li>
                    <li class="list-group-item text-right"><span style="float: left;"><strong>Último acceso al sitio</strong></span></li>
                    <li class="list-group-item text-right"><span style="float: right;"> Sábado, 24 de noviembre de
                            2018, 03:19 (5 segundos).</span></li>
                </ul>


            </div>
            <!--/col-3-->
            <div class="col-sm-9">

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4 style="font-size: 20px; font-weight: 600;">Nombres</h4>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="nombres" title="enter your first name if any." style="width: 300px; border-radius: 0%;">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4 style="font-size: 20px; font-weight: 600;">Apellido(s)</h4>
                                    </label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="apellidos"
                                        title="enter your last name if any." style="width: 400px; border-radius: 0%;">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4 style="font-size: 20px; font-weight: 600;">Teléfono</h4>
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="ingresa teléfono"
                                        title="enter your phone number if any." style="width: 200px; border-radius: 0%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="mobile">
                                        <h4 style="font-size: 20px; font-weight: 600;">Celular</h4>
                                    </label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="ingresa celular"
                                        title="enter your mobile number if any." style="width: 200px; border-radius: 0%;">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4 style="font-size: 20px; font-weight: 600;">Dirección de correo</h4>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="dirección de correo"
                                        title="enter your email." style="width: 500px; border-radius: 0%;">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4 style="font-size: 20px; font-weight: 600;">Ciudad</h4>
                                    </label>
                                    <input type="text" class="form-control" id="location" placeholder="ciudad" title="enter a location"
                                        style="width: 200px; border-radius: 0%;">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4 style="font-size: 20px; font-weight: 600;">País</h4>
                                    </label>
                                    <input type="text" class="form-control" id="location" placeholder="ciudad" title="enter a location"
                                        style="width: 200px; border-radius: 0%;">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password">
                                        <h4 style="font-size: 20px; font-weight: 600;">Descripción</h4>
                                    </label>
                                    <textarea type="text" class="form-control" placeholder="descripción" title="enter your password."></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                        Save</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                        Reset</button>
                                </div>
                            </div>
                        </form>

                        <hr>

                    </div>
                    <!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <h2></h2>

                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>First name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Last name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name"
                                        title="enter your last name if any.">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4>Phone</h4>
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone"
                                        title="enter your phone number if any.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="mobile">
                                        <h4>Mobile</h4>
                                    </label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                                        title="enter your mobile number if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                                        title="enter your email.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Location</h4>
                                    </label>
                                    <input type="email" class="form-control" id="location" placeholder="somewhere"
                                        title="enter a location">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password">
                                        <h4>Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="password" title="enter your password.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password2">
                                        <h4>Verify</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password2" id="password2"
                                        placeholder="password2" title="enter your password2.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                        Save</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                        Reset</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--/tab-pane-->
                    <div class="tab-pane" id="settings">


                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>First name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Last name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name"
                                        title="enter your last name if any.">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4>Phone</h4>
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone"
                                        title="enter your phone number if any.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="mobile">
                                        <h4>Mobile</h4>
                                    </label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                                        title="enter your mobile number if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                                        title="enter your email.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Location</h4>
                                    </label>
                                    <input type="email" class="form-control" id="location" placeholder="somewhere"
                                        title="enter a location">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password">
                                        <h4>Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="password" title="enter your password.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password2">
                                        <h4>Verify</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password2" id="password2"
                                        placeholder="password2" title="enter your password2.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                        Save</button>
                                    <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--/tab-pane-->
            </div>
            <!--/tab-content-->

        </div>
        <!--/col-9-->
    </div>
    <!--/row-->

</body>


</html>